# Python
# all __pycache__ directories (any depth)
__pycache__/

*.egg-info/
.eggs*/
dist*/
build*/
l2l3_datamodel-develop/
l3_submission/

# IDE
.vscode/
.idea/

# Local config
globalGB/GB_search_config.json
globalGB/GB_l2l3_config.json

# Data (if large/generated)
*.h5
*.npy

# Jupyter
.ipynb_checkpoints/